 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}   

label {
    display: inline-block;
}

.label-text {
    width: 130px;
    text-align: right;
}

.text-top {
    vertical-align: top;
}
  
button {
    margin-left: .5em;
}